<div class="carousel-container">
    <img *ngFor="let item of carouselList;let i=index" [src]="item['image']" [alt]=imageAlt
    [ngClass]="{'image-active':currentIndex===i}" 
    class="transition-class">
    <div class="carousel-dot-container">
        <div (click)="selectImage(i)" *ngFor="let dot of carouselList;let i=index" class="dot-class" [ngClass]="{'active':currentIndex===i
    }"></div>
    </div>

    <div (click)=" goToPrevious()" class="btn-carousel prev">
        <span class="arrow left"></span>
    </div>
    <div (click)="goToNext()" class="btn-carousel next">
        <span class="arrow right"></span>
    </div>
</div>



