<div class="footer">
    <div class="footer-content">
        <div class="contact-info">
            <img id="logo" src="https://www.aha.video/assets/icons/svg/aha-footer-logo.svg" alt="footer-logo">
            <p>Connect with us</p>
            <div class="social-media">
                <img src="https://www.aha.video/assets/icons/svg/instagram-icon.svg" alt="insta">
                <img src="https://www.aha.video/assets/icons/svg/facebook-footer.svg" alt="facebook">
                <img src="https://www.aha.video/assets/icons/svg/twitter-icon.svg" alt="twitter">
            </div>
            <p>Download aha mobile app</p>
            <div class="social-media">
                <img src="https://www.aha.video/assets/images/googlePlay.png" alt="button">
                <img src="https://www.aha.video/assets/images/ios.png" alt="button">
            </div>
            <p>Contact us:
                <a href="default.asp"> support@aha.video</a>
            </p>
        </div>
        <div class="content-flex">
            <div class="must-watch-content">
                <div id="content-heading">Must Watch Movies</div>
                <p>Masooda</p>
                <p>Sardar</p>
                <p>Ori Devuda</p>
                <p>Swathi Muthyam</p>
                <p>DJ Tillu</p>
            </div>
            <div class="must-watch-content">
                <div id="content-heading">Popular Telugu Movies</div>
                <p>Pakka Commercial</p>
                <p> Love Story</p>
                <p> Colour Photo</p>
                <p> Krack</p>
                <p> Sulthan</p>
            </div>
            <div class="must-watch-content">
                <div id="content-heading">Genres</div>
                <p>Telugu Drama Movies</p>
                <p> Telugu Comedy Movies</p>
                <p>Telugu Action Movies</p>
                <p>Telugu Romance Movies</p>
            </div>
            <div class="must-watch-content">
                <div id="content-heading">Learn More</div>
                <p>About Us</p>
                <p>FAQs / Help</p>
                <p>Privacy Policy</p>
                <p>Terms of Service</p>
                <p>Grievance Redressal</p>
                <p>Blog</p>
            </div>
        </div>
    </div>
    <div class="footer-line">

    </div>
    <div class="footer-bottom">
        <div>&copy;&nbsp;Copyright 2023 Arha Media and Broadcasting Pvt Ltd. All rights reserved.</div>
        <div class="footer-bottom-right"> <p>Powered by&nbsp;&nbsp;</p>
            <img src="https://www.aha.video/assets/images/fl_logo.png" alt="fire">
        </div>


    </div>
</div>

<nav class="mobile-nav">
    <a href="#" class="bloc-icon">
        <div class="nav-title">
        <img class="active-icon" src="./assets/images/home.png" alt="home">
    <p id="active-text">Home</p>
    </div>
    </a>
    <a href="#" class="bloc-icon">
        <div class="nav-title">
        <img class="bloc-icon-img" src="https://www.aha.video/tag-icon.40806c6d85c3f2a68ccb.svg" alt="aha">
        <p>My aha</p>
    </div>
    </a>
    <a href="#" class="bloc-icon">
        <div class="nav-title">
        <img class="bloc-icon-img" src="https://www.aha.video/search-icon.704c679b82e10dd8379c.svg" alt="search">
        <p>Search</p>
    </div>
    </a>
    <a href="#" class="bloc-icon">
        <div class="nav-title">
        <img class="bloc-icon-img" src="./assets/images/main-menu.png" alt="menu">
        <p>Menu</p>
    </div>
    </a>

</nav>