.header {
  height: 75px;
  width: 100%;
  position: fixed;
  top: 0px;
  display: flex;
  flex-direction: column;
 justify-content: center;
 z-index: 99;
}
a {
  
  text-decoration: none;
}
.header-flex{
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 20px;
 
}
.top {

  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(rgb(0, 0, 0) 20%, rgba(0, 0, 0, 0));
}

.bottom {

  background-color: rgb(29,30,32);
}

.navlink {
  display: flex;
  align-items: center;
}
.navlink-right {
  
  display: flex;
  align-items: center;
  
}
.navbar-left {
 
  cursor: pointer;
  color: rgba(255, 255, 255, 0.698);
  font-size: 16px;
  font-weight: 600;
  margin-right: 50px;
}
#logo {
  margin-right: 50px;
  width: 62px;
  height: 43px;
}

.navbar-right {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.698);
  font-size: 16px;
  font-weight: 600;
  
}
#lang-icon {
  width: 24px;
  height: 24px;
  margin-right: 50px;
}
#user-icon{
  height: 30px;
  width: 33px;
  margin-right: 10px;
}
.mobile-header {
  display: none;
}

@media screen and (max-width: 958px) {

  .header {
   height: 115px; 
  width: 100%;
  overflow: scroll;
  }
  .top {
   background-color: black;
  }
 
  .bottom {
    background-color: rgb(29,30,32);
  }
  .header-flex{
    margin-top: 50px;
  }
  
  .navlink{
    justify-content: center;
    align-items: center;
   padding-left: 44px;
    margin: 0px auto;
   
  }
  .navlink-right div{
    display: none;
  }
  .navlink div{
    display: none;
  }

  .mobile-header{
   
    margin: 10px 20px 40px 20px;
    display:flex;
    color: white;
    justify-content: space-between;
    align-items: center; 
    
  }

  #btn-all{
    cursor: pointer;
  margin-bottom: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
    background: linear-gradient(180deg,#3b4046,#2d3037);
    box-shadow: 0 4px 4px rgba(0,0,0,.25);
    border: none;
    border-radius: 20px;
    outline: none;
    color: #ffff;
    padding: 10px 30px;
  }
  #menu-icon{
    margin-right: 10px;
    color: orange;
    width: 18px;
    height: 18px;
    background: none;
  }
 
  #lang-icon {
  
    margin-right: 10px;
  }
  
}
