<div class="header" [ngClass]="isBottom ? 'bottom' : 'top'">
<div class="header-flex">

    <div class="navlink">
        <img id="logo" src="https://www.aha.video/aha-logo.db810aeaa42b356a86a7.png" alt="">
        <div class="navlink">
            <a routerLink=""><div class="navbar-left">Home</div></a> 
            <a routerLink=""><div class="navbar-left">Telugu Indian Idol</div></a>
            <a routerLink=""><div class="navbar-left">Movies</div></a>
            <a routerLink=""><div class="navbar-left">Shows</div></a>
            <a routerLink=""><div class="navbar-left">Kids</div></a>
            <a routerLink=""><div class="navbar-left">My aha</div></a>
        </div>
     
    </div>
       
     <div class="navlink-right">
        <div class="navbar-left">
            <img src="https://www.aha.video/search-icon.704c679b82e10dd8379c.svg" alt="search">
        </div>
        
            <img id="lang-icon" src="	https://www.aha.video/language-icon.ef88ebcc6b1bcda97fc4.svg" alt="lang">
            <div class="navbar-left"><app-orange-button (onClick)="functioncall($event)" [label]="label"></app-orange-button></div>
       
        <div ><img id="user-icon" src="	https://www.aha.video/assets/icons/svg/avatar_profile.svg" alt=""></div>
        <div class="navbar-right">Sign In</div>
     </div>  

</div>
 
 <div class="mobile-header">

  
        <button id="btn-all" ><img id="menu-icon" src="./assets/images/menu.png" alt="">
        <div>All</div></button>
        <div >Telugu Indian Idol</div>
        <div >Movies</div>
        <div>Shows</div>
        <div>Kids</div>
        
    
    </div>
</div>


