.header {
  height: 75px;
  width: 100%;
  position: absolute;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top {
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(rgb(0, 0, 0) 20%, rgba(0, 0, 0, 0));
}

.bottom {
  background-color: yellow;
}

.navlink {
  display: flex;
  margin-left: 30px;
  align-items: center;
}
.navlink-right {
  
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.navbar-left {
 
  cursor: pointer;
  color: rgba(255, 255, 255, 0.698);
  font-size: 16px;
  font-weight: 600;
  margin-right: 50px;
}
#logo {
  
  width: 62px;
  height: 43px;
}

.navbar-right {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.698);
  font-size: 16px;
  font-weight: 600;
  margin-right: 50px;
}
#lang-icon {
  width: 24px;
  height: 24px;
}
.mobile-header {
  display: none;
}
@media screen and (max-width: 958px) {
  .header {
   height: 115px;
   width: 100%;
   /* align-items: flex-start; */
   
  }
  .top {
   background-color: black;
  }
  
  .bottom {
    background-color: yellow;
  }
  .navbar-right{
    margin-right: 15px;
  }
  .navlink{
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .navlink div{
    display: none;
  }
  .navbar-left{
    display: none;
  }
  
}
