<div class="header" [ngClass]="isBottom ? 'bottom' : 'top'">
  
<div class="navlink">
    <img id="logo" src="https://www.aha.video/aha-logo.db810aeaa42b356a86a7.png" alt="">
    <div class="navlink">
        <div class="navbar-left">Home</div>
        <div class="navbar-left">Telugu Indian Idol</div>
        <div class="navbar-left">Movies</div>
        <div class="navbar-left">Shows</div>
        <div class="navbar-left">Kids</div>
        <div class="navbar-left">My aha</div>
    </div>
    <!-- <div class="navbar-left">Home</div>
    <div class="navbar-left">Telugu Indian Idol</div>
    <div class="navbar-left">Movies</div>
    <div class="navbar-left">Shows</div>
    <div class="navbar-left">Kids</div>
    <div class="navbar-left">My aha</div> -->
</div>
   
 <div class="navlink-right">
    <div class="navbar-left">
        <img src="https://www.aha.video/search-icon.704c679b82e10dd8379c.svg" alt="">
    </div>
    <div class="navbar-right">
        <img id="lang-icon" src="	https://www.aha.video/language-icon.ef88ebcc6b1bcda97fc4.svg" alt="">
    </div>
    <div class="navbar-left">Movies</div>
    <div class="navbar-left">Shows</div>
 </div>   

</div>


<!-- <div class="mobile-header" [ngClass]="isBottom ? 'scroll-down' : 'scroll-top'">
<div class="logo-flex">
    <div class="navbar-left"><img id="logo" src="https://www.aha.video/aha-logo.db810aeaa42b356a86a7.png" alt=""></div>
</div>
<div class="logo-flex">
    <div class="navbar-left">Home</div>
    <div class="navbar-left">Telugu Indian Idol</div>
    <div class="navbar-left">Movies</div>
    <div class="navbar-left">Shows</div>
    <div class="navbar-left">Kids</div>
    <div class="navbar-left">My aha</div>
</div>
<div></div>
</div> -->