.card-items{
    display: flex;
    flex-direction: column;
}
.content{
    display: flex;
    justify-content: space-between;
    margin: 0px 20px 10px 20px;
}
.content-heading{
    color: #ffff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}