

<!-- <div class="card-items">
    <div class="caro-btn" style="float: left">
        <button class="left" (click)="scrollLeft()">left</button>
    </div>
    
  <div class="container" *ngFor="let item of dataList; let index = index; let last = last">
    <div
      [ngClass]="className" class="card-class"
      [ngStyle]="{ 'background-image': 'url(' + item['image'] + ')'}"
    ><div *ngIf="item['isPremium']" class="premium-tag">
        <div class="tag-icon"></div>
        <p id="tag-text">Premium</p>
    </div>
      <div *ngIf="isTextBottom" id="img-text">{{ item["name"] }}</div>
    </div>
    <div *ngIf="!isTextBottom" id="text">{{ item["name"] }}</div>
   
  </div>

  <div class="caro-btn" style="float: right">
    <button class="right" (click)="scrollRight()">right</button>
</div>
  
</div> -->




<div class="card-items">
    <div *ngIf="dataList.length>8"  class="btn-carousel prev">
        <div (click)="previous()" class="arrow left"></div>
    </div>
    
  <div class="container" *ngFor="let item of testDataShown; let index = index; let last = last">
    <div
      [ngClass]="className" class="card-class"
      [ngStyle]="{ 'background-image': 'url(' + item['image'] + ')'}"
    ><div *ngIf="item['isPremium']" class="premium-tag">
        <div class="tag-icon"></div>
        <p id="tag-text">Premium</p>
    </div>
      <div *ngIf="isTextBottom" id="img-text">{{ item["name"] }}</div>
    </div>
    <div *ngIf="!isTextBottom" id="text">{{ item["name"] }}</div>
   
  </div>

<div  *ngIf="dataList.length>8"  class="btn-carousel next">
    <div (click)="next()" class="arrow right"></div>
</div>
  
</div>





<!-- ********************************************** -->

<!-- <div class="card-items">
    <div class="container" *ngFor="let item of dataList ;let i=index
    " >
    <div  class="card-container">
       
    <img id="card-img" [src]="item['image']" alt="image"> 
    
    </div>
    
    <div *ngIf="isTextBottom" id="text">{{item['name']}}</div>
</div>
</div> -->

<!-- ********************************************** -->

