
<div class="container-class">
    
        <img [ngStyle]="{'top':topValue+'px'}" *ngIf="increment>0" class="left-btn" (click)="scrollLeft()" src="https://www.aha.video/aha-arrow.3ae0cd913ff5a84187b2.svg" alt="">
    
    <div #widgetsContent class="content" >
        <div class="card-container" *ngFor="let item of dataList; let index = index; let last = last">
            <div
              [ngClass]="className" class="card-class"
              [ngStyle]="{ 'background-image': 'url(' + item['image'] + ')'}"
            ><div *ngIf="item['isPremium']" class="premium-tag">
                <div class="tag-icon"></div>
                <p id="tag-text">Premium</p>
            </div>
              <div *ngIf="isTextBottom" id="img-text">{{ item["name"] }}</div>
            </div>
            <div *ngIf="!isTextBottom" id="text">{{ item["name"] }}</div>
           
          </div> 
         
    </div>
     
        <img  [ngStyle]="{'top':topValue+'px'}" *ngIf="dataList.length>5" class="right-btn" (click)="scrollRight()" src="https://www.aha.video/aha-arrow.3ae0cd913ff5a84187b2.svg" alt="">
    </div>
    


