/* .product{
    margin: 40px 0;
}
.slider-wrap{
    position: relative;
}
.slider-main{
    position: absolute;
}
.item{
    display: inline-block;
    width: 300px;
    height: 150px;
    background-color: yellow;
}
.text{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
    font-size: 24px;
} */
.card-items {
  display: flex;
  margin: 20px;
  max-width: 1120px;
  width: 100%;
  
  /* width: calc(100%/7); */
 
}
.card-container {
  margin-right: 10px;
  text-align: center;

  /* background-color: yellow; */
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  color: #000;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  /* height: 260px;
   width: 160px; */
}
.card-img {
  padding: 0;
  margin: 0;
  border-radius: inherit;
  display: block;
  
  /* height:fit-content; */
}
.container {
    cursor: pointer;
    /* transform:translate(-50%,-50%); */
    box-shadow: 0 0 0 rgba(0,0,0,0), 0 0 0 rgba(0,0,0,0);
    transition: all .3s ease-in-out;
  &:hover {
    transform: translate3d(0px, -20px, 0px);
   
  }

}
#text {
  text-overflow: ellipsis;
  color: #ffff;
  margin-top: 8px;
}
.button-area{
  position: absolute;
}
.prev{
  position: absolute;
  left: 0;
}
.btn-carousel {
  /* background-color: yellow; */
    border: none;
    outline: 0;
    position: absolute;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 0.5em; */
    color: white;
    font-weight: bold;
    font-size: 3em;
    user-select: none;
    /* height: 100%; */
    bottom: -50%;
    /* bottom: 0;  */
    width: 5%;
    opacity: 80%;
    transition: opacity 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
  
    &:hover, &:focus {
      opacity: 1;
    }
  
    /* Position the buttons */
    &.next {
      /* background-color: red; */
      right: 0;
    }
    &.prev {
      /* background-color: blue; */
      left: 0;
    }
  }
  
  /* style the arrows */
  .arrow {
   
    display: block;
    border-left: 0.1em solid white;
    border-bottom: 0.1em solid white;
    width: 0.5em;
    height: 0.5em;
  
    &.left {
      transform: rotate(45deg);
    }
    &.right {
      transform: rotate(225deg);
    }
  }