.container-class {
  position: relative;
  width: 100%;
  display: block;
}
.content {
  float: left;
  width: 100%;

  overflow: auto;
  padding-top: 20px;
  position: relative;
  margin-bottom: 30px;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.content::-webkit-scrollbar {
  display: none;
}
.card-container {
  display: inline-block;
  position: relative;
  cursor: pointer;

  box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0);
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: translate3d(0px, -20px, 0px);
  }
}
.left-btn {
  
   /* opacity: 0; */
  z-index: 10;
  position: absolute;
  left: 0px;
  align-items: center;
  border: none;
  outline: none;
  background: none;
  -webkit-transform: scaleX(-1);

  transform: scaleX(-1);

}
.right-btn {
    
   opacity: 0;
   border: none;
    outline: none;
    background: none;
  /* top: calc(100px + 1vh); */
  
  z-index: 10;
  position: absolute;
  right: 0px;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);

}

/* .content:hover + .left-btn{
  opacity: 1;
} */

.content:hover + .right-btn{
   opacity: 1;
  }

#text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(8vw + 0.390625vw);
  color: #ffff;
  margin-top: 8px;
  font-size: calc(10px + 0.390625vw);
}





.premium-tag {
  background-color: rgb(0, 0, 0);
  background-image: linear-gradient(rgb(255, 109, 46) 28.63%, rgb(221, 70, 29));
  border-bottom-left-radius: 8px;
padding: 3px;
  border-top-right-radius: 8px;
  align-items: center;
  float: right;
  position: relative;
  display: flex;
  flex-direction: row;
  width: calc(3vw + 0.390625vw);
  height: calc(0.6vw + 0.390625vw);
  color: white;
  justify-content: space-around;
}
.tag-icon {
  text-align: start;
  width: 10px;
  height: 8px;
  padding: 0;
  margin: 0;
  background-image: url(https://www.aha.video/tag-icon.40806c6d85c3f2a68ccb.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: block;
}
#tag-text {
  margin-left: 3px;
  
  font-size: calc(5px + 0.390625vw);
  align-self: baseline;
}

.card-class {
  margin-right: 10px;
  border-radius: 10px;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: calc(8vw + 0.3394vw);
  height: calc(16vw + 0.3394vw);
}

/* CSS class for new release movies */

.new-release-class {
  width: calc(9vw + 0.3394vw);
  height: calc(14vw + 0.3394vw);
}

/* CSS class for new daily serials */
.dialy-serial-class {
    width: calc(9vw + 0.3394vw);
  height: calc(12vw + 0.3394vw);
  
}

/* CSS class for trending movies */
.trending-class {
  height: 22vw;
  width: 12vw;
}

/* CSS class for actors */
.actors-class {
  border-radius: 50%;
  height: 8vw;
  width: 8vw;
}
/* CSS class for Aha originals */
.aha-originals {
  opacity: 0.8;
  height: 24vw;
  width: 16vw;
}

/* CSS class for Genres */
.genres {
  opacity: 0.8;
  height: 9vw;
  width: 9vw;
}

/* CSS class for News highlights */
.news-class {
  height: 10vw;
  width: 18vw;
}

/* CSS class for Getting started with Aha */
.getting-started {
  height: 10vw;
  width: 18vw;
}

#img-text {
  color: rgb(240, 240, 240);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(8vw + 0.390625vw);

  font-size: calc(10px + 0.390625vw);
  position: relative;
  text-overflow: ellipsis;
  font-weight: bold;
  left: 6%;
  top: 88%;

  z-index: 1;
}
@media screen and (max-width: 958px) {
  .premium-tag {
    width: 40px;
    height: 12px;
    align-items: center;
    
    justify-content: space-around;
  }
  .tag-icon {
    width: 5px;
    height: 4px;
    padding: 0;
  }
  #tag-text {
   align-self: start;
    text-align: start;
  }
  .new-release-class {
    width: 140px;
    height: 200px;
  }
  /* CSS class for new daily serials */
  .dialy-serial-class {
    width: 140px;
    height: 200px;
  }

  /* CSS class for trending movies */
  .trending-class {
    width: 160px;
    height: 280px;
  }

  /* CSS class for actors */
  .actors-class {
    border-radius: 50%;
    width: 140px;
    height: 140px;
  }
  /* CSS class for Aha originals */
  .aha-originals {
    width: 160px;
    height: 280px;
  }
  #text{
    width: 140px;
    font-size: calc(12px + 0.85555vw);
  }
  #img-text{
    width: 120px;
    font-size: calc(10px + 0.85555vw);
  }

  /* CSS class for Genres */
  .genres {
    width: 140px;
    height: 140px;
  }

  /* CSS class for News highlights */
  .news-class {
    width: 200px;
    height: 160px;
  }

  /* CSS class for Getting started with Aha */
  .getting-started {
    width: 280px;
    height: 160px;
  }
}
