/* .product{
    margin: 40px 0;
}
.slider-wrap{
    position: relative;
}
.slider-main{
    position: absolute;
}
.item{
    display: inline-block;
    width: 300px;
    height: 150px;
    background-color: yellow;
}
.text{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
    font-size: 24px;
} */
.button-area {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prev {
  position: absolute;
  left: 63%;
  top: 700%;
  transform: translate(-50%, -50%);
}
.next {
  position: absolute;
  right: -5px;
}

.card-items {
  display: flex;
  margin: 10px 20px 30px 20px;

  width: 100%;

  /* width: calc(100%/7); */
}
.card-container {
  margin-right: 10px;
  /* text-align: center; */

  /* background-color: yellow; */
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}
#card-img {
  padding: 0;
  margin: 0;
  border-radius: inherit;
  display: block;
}
.container {
  cursor: pointer;
  /* transform:translate(-50%,-50%); */
  box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0);
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: translate3d(0px, -20px, 0px);
  }
}
#text {
    /* white-space: nowrap;
    overflow: hidden; */
    text-overflow: ellipsis;
  color: #ffff;
  margin-top: 8px;
  font-size: 18px;
}

.btn-carousel {
  /* background-color: yellow; */
  border: none;
  outline: 0;
  position: absolute;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* padding: 0.5em; */
  color: white;
  font-weight: bold;
  font-size: 3em;
  user-select: none;
  /* top:700%; */
  /* height: 100%; */
  /* bottom: -50%; */
  /* bottom: 0;  */
  width: 5%;
  opacity: 80%;
  transition: opacity 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);

  &:hover,
  &:focus {
    opacity: 1;
  }

  /* Position the buttons */
  &.next {
    /* background-color: red; */
    right: 0;
  }
  &.prev {
    /* background-color: blue; */
    left: 0;
  }
}

/* style the arrows */
.arrow {
  display: block;
  border-left: 0.1em solid white;
  border-bottom: 0.1em solid white;
  width: 0.5em;
  height: 0.5em;

  &.left {
    transform: rotate(45deg);
  }
  &.right {
    transform: rotate(225deg);
  }
}

.owl-carousel-o {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 50px;
}
.premium-tag {
  align-items: center;
  background-color: rgb(0, 0, 0);
  background-image: linear-gradient(rgb(255, 109, 46) 28.63%, rgb(221, 70, 29));
  border-bottom-left-radius: 8px;

  border-top-right-radius: 8px;
  align-items: center;
  float: right;
  position: relative;
  /* align-items: flex-end; */
  display: flex;
  flex-direction: row;
  /* right: 43%;
    right: -85%; */
  padding: 1px 1px 1px 2px;
  width: 70px;
  height: 20px;
  color: white;
  justify-content: space-around;
}
.tag-icon {
  text-align: start;
  width: 12px;
  height: 10px;
  background-image: url(https://www.aha.video/tag-icon.40806c6d85c3f2a68ccb.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: block;
}
#tag-text {
  font-size: 12px;
  align-self: baseline;
}

.new-release-class {
  margin-right: 10px;
  /* text-align: center; */

  /* background-color: yellow; */
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  height: 18vw;
  width: 12vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* height: 280px; */
}
.dialy-serial-class {
  margin-right: 10px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  height: 18vw;
  width: 12vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.trending-class {
  margin-right: 10px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  height: 25vw;
  width: 13vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#img-text {
  text-overflow: ellipsis;
  color: #ffff;
  bottom: 0;
  align-self: end;
  margin-top: 8px;
}
